{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Alcoholic Cocktail</h3>

<form class="col s12" method="POST" action="{{ url_for('add_alcoholic_cocktails') }}">
    <div class="row">
        <div class="input-field col s12 m6 offset-m3 center-align">
            <input id="cocktail_name" name="cocktail_name" minlength="1" maxlength="100" type="text" class="validate"
                required>
            <label for="cocktail_name">Alcoholic Cocktail Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3 center-align">
            <input id="glass" name="glass" minlength="1" maxlength="100" type="text" class="validate" required>
            <label for="glass">Glass</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3 center-align">
            <textarea id="ingredients" name="ingredients" minlength="1" maxlength="1000"
                class="materialize-textarea validate" required></textarea>
            <label for="ingredients">Ingredients</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3 center-align">
            <textarea id="preparation" name="preparation" minlength="1" maxlength="1000"
                class="materialize-textarea validate" required></textarea>
            <label for="preparation">Preparation</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <button type="submit"
                class="waves-effect waves-light btn-large text-shadow white-text grey darken-4 hoverable">Add Alcoholic
                Cocktail</button>
        </div>
    </div>
</form>

{% endblock %}