{% extends "base.html" %}
{% block content %}

<h1>DIY Cocktail Recipes</h1>

<p>Welcome to this exciting collection of Alcoholic and non-alcoholic cocktails.
<br>
This website will contain the ingredient list required to create wonderful cocktail drinks.
<br>
You will be able to freely browse all the cocktails ingredient lists that have been uploaded to the website by all users.
<br>
You will be able to create a personal account, then upload, edit and delete your own cocktail ingredient lists for storage and viewing via this website.
</p>

{% endblock %}