{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create User Account</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register_user') }}">
        <div class="card-panel">
            <!-- username input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register submit button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large deep-purple lighten-1">
                    Create Account <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already have an account?
            <a href="{{ url_for('login') }}">Click here to log into your account!</a>
        </p>
    </div>
</div>

{% endblock %}